html,body {
    margin: 0; 
    background-color:#d2b48c;
}   

.BigBar {
   background-color:#2a3e65; 
   height:80px;
   z-index:1;
   position: relative;
}

#answer1 {
    display:none;
}

#answer2 {
    display:none;
}

#answer3 {
    display:none;
}

#answer4 {
    display:none;
}

#answer5 {
    display:none;
}
                        
body {
    height:100%;
    width:100%;
}

#blur {
    filter:blur(7px)
}

.navigator {
    font-family:comic;
    font-size:60px;
    font-style:bold;
    color:white;
    width:270px;
    height: 100%;
    position: absolute;           
    line-height:1.2;
}

.donatebutton {
    background-color:white;
    border:10px solid #f77f00;
    color:#f77f00;
    padding: 15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:60%;
    margin: 4px 2px;
    cursor:pointer;
}

.boxl {
    float: left;
    background-color: #2a3e65;
    width:48%;
    border:20px double white;
    padding:3%;
    margin-left:2%;
    margin-top: 1%;
    font-style:bold;
    font-size: 240%;
    font-family: Bradley Hand, cursive	
}

.boxr {
    float: right;
    background-color:#2a3e65;
    width:48%;
    border:20px double white;
    padding:3%;
    margin-right:2%;
    margin-top: 1%;
    color:#f77f00;
    font-style:bold;
    font-size: 300%;
    font-family: Impact, fantasy;
}

.boxFAQ {
    background-color: #2a3e65;
    width: 80%;
    border:13px solid #f77f00;
    padding:1%;
    margin:0%;
    margin-left:10%;
    color:#21ff00;
    font-style:bold;
    font-size:300%;
    
}

.AboxFAQ {
    background-color: #2a3e65;
    width: 80%;
    border:13px solid #f77f00;
    padding:1%;
    margin:0%;
    margin-left:10%;
    color:white;
    font-style:bold italic;
    font: size 200%;
}

.behind {
    z-index: 1;
}

.header {
    font-size:70px;
    color:white;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 70px;
    width:100%;
    opacity:1;
    text-align:center;
    font-family:comic;
    font-weight:normal;
    line-height:1.1;
}

.Carousel {
  max-width: 25%;
  max-height: 25%;
  margin-right: auto;
  margin-left:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    Padding: 0;
    width:100%;
    display: none;
}

#navbar {
    background-color:#2a3e65;
    width:300px;
}

.heading {
    font-size: 150px;
    text-align: center;
    margin-bottom:0%;
    color:#21ff00;
    -webkit-text-stroke: 6px #2a3e65;
}

ul a:hover {
    color:#f77f00;
}

a {
    text-decoration: none;
    color:#21ff00;
    transition:.4s color;
}

i {
    margin-left: 1%;
}

i:hover {
    color:#21ff00;
}

.davis {
    text-align: center;
    border: 5px solid #2a3e65;
    border-style: groove;
    border-width: 15px;
    border-color: grey;
    font-size: 200%;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

.title {
    font-family: Verdana, Tahoma, sans-serif;
    color:#21ff00;
    font-size: 125px;
    text-align: center;
}
.img {
    text-align: right;
    border:4px solid #2a3e65;
}
   
