html,body {
    margin: 0;
    background-color: #d2b48;
}

.BigBar {
   background-color:rgb(0, 50, 77);
}

body {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    height:100%;
    width:100%;
}

#noblur {
    display:none;
}

.navigator {
    font-style:comic;
    font-size:60px;
    font-style:bold;
    color:white;
    width:270px;
    height: 100%;
    position: absolute;
}

.header {
    font-size:70px;
    color:white;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 70px;
    width:100%;
    opacity:1;
    text-align:center;
}

.BGIMG {
    opacity:1;
    background-repeat:norepeat;
}

ul {
    list-style-type: none;
    margin: 0;
    Padding: 0;
    width:100%;
    display: none;
}

#navbar {
    background-color:rgb(0, 50, 77);
}

ul a:hover {
    color:#f77f00;
}

a {
    text-decoration: none;
    color:rgb(151, 195, 60);
    transition:.4s color;
}

i {
    margin-left: 1%;
}

i:hover {
    color:rgb(151, 195, 60);
}